<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  * -->
<!-- * * * * * * * * * * * JERSON GALVEZ ENSUNCHO * * * * * * * * * * * -->
<!-- ******* * * * * * * * PROYECTO CLINICSOFT * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<div class="min-height-300 bg-default position-absolute w-100"></div>
<aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-1 border-radius-xl my-3 fixed-start ms-4 " style="z-index: 1 !important;" id="sidenav-main">
 <app-menu></app-menu>
</aside>
<main class="main-content position-relative border-radius-lg">
  <app-cerrarsesion titulo="Pacientes"></app-cerrarsesion>
  <div class="container-fluid py-1">
    <div class="row ">
      <div class="card">
        <div class="container-fluid mt-3">
          <div class="row">
            <div class="col-md-12">
              <div class="d-flex flex-row-reverse">
                <a
                  class="btn btn-success text-white btn-xs"
                  routerLink="/hc"
                  target="_blank"
                  [hidden]="btnHistoriaHidden"
                >
                  <i class="fas fa-file-medical text-white"></i> HC
                </a>
                <a
                  class="btn btn-danger text-white btn-xs mx-2"
                  [hidden]="btnActualizarHidden"
                >
                  <i class="fas fa-pen text-white"></i> Actualizar
                </a>
                <button
                  class="btn btn-primary text-white btn-xs mx-1"
                  data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop"
                  [hidden]="btnAgregarHidden"
                  (click)="crearPaciente()"
                >
                  <i class="fas fa-database text-white"></i> Crear
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-striped table-hover">
                  <thead>
                    <tr class="bg-default">
                      <th class="text-xs text-white"></th>
                      <th class="text-xs text-white">DNI</th>
                      <th class="text-xs text-white">HC</th>
                      <th class="text-xs text-white">APELLIDOS</th>
                      <th class="text-xs text-white">NOMBRES</th>
                      <th class="text-xs text-white">DIRECCION</th>
                      <th class="text-xs text-white">TELEFONO</th>
                      <th class="text-xs text-white">FECHA NACIMIENTO</th>
                      <th class="text-xs text-white">SEXO</th>
                      <th class="text-xs text-white">ESTADO CIVIL</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <h6>Crear Pacientes</h6>
          </div>
          <form [formGroup]="crearPacienteForm">
          <div class="row">
            <div class="col-md-2">
              <label>DNI</label>
              <input
                type="number"
                class="form-control form-control-sm"
                formControlName="crearpaciente_dni"
                (blur)="getPatient()"
              >
            </div>
            <div class="col-md-4">
              <label>Apellidos</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="crearpaciente_apellido"
              >
            </div>
            <div class="col-md-4">
              <label>Nombres</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="crearpaciente_nombre"
              >
            </div>
            <div class="col-md-2">
              <label>HC</label>
              <input
                type="number"
                class="form-control form-control-sm"
                formControlName="crearpaciente_hc"
              >
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-md-3">
              <label>Celular</label>
              <input
                type="number"
                class="form-control form-control-sm"
                formControlName="crearpaciente_celular"
              >
            </div>
            <div class="col-md-2">
              <label>Sexo</label>
              <select
                class="form-control form-control-sm"
                formControlName="crearpaciente_sexo"
              >
                <option value="">Seleccione una opcion</option>
                <option
                  *ngFor="let sexo of getSexs"
                  [value]="sexo.codigo"
                >
                  {{ sexo.descripcion }}
                </option>

              </select>
            </div>
            <div class="col-md-2">
              <label>Fecha de Nacimiento</label>
              <input
                type="date"
                class="form-control form-control-sm"
                formControlName="crearpaciente_fechanacimiento"
              >
            </div>
            <div class="col-md-1">
              <label>Edad</label>
              <input
                type="number"
                class="form-control form-control-sm"
                formControlName="crearpaciente_edad"
              >
            </div>
            <div class="col-md-4">
              <label>Direcciòn</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="crearpaciente_direccion"
              >
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-md-4">
              <label>Departamento</label>
              <select
                class="form-control form-control-sm text-capitalize"
                formControlName="crearpaciente_departamento"
                (change)="getProvince()"
              >
                <option value="">Seleccione una opcion</option>
                <option
                  *ngFor="let departamento of getDepartament"
                  [value]="departamento.id"
                  >
                  {{ departamento.name }}

                </option>
              </select>
            </div>
            <div class="col-md-4">
              <label>Provincia</label>
              <select
                class="form-control form-control-sm"
                formControlName="crearpaciente_provincia"
                (change)="getDistrict()"
              >
                <option value="">Seleccione una opcion</option>
                <option
                  *ngFor="let provincia of getProvinces"
                  [value]="provincia.id"
                >
                  {{ provincia.name }}
              </option>
              </select>
            </div>
            <div class="col-md-4">
              <label>Distrito</label>
              <select
                class="form-control form-control-sm"
                formControlName="crearpaciente_distrito"
              >
                <option value="">Seleccione una opcion</option>
                <option
                  *ngFor="let distrito of getDistricto"
                  [value]="distrito.id"
                >
                  {{ distrito.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-md-4">
              <label>Ocupaciòn</label>
              <select
                class="form-control form-control-sm"
                formControlName="crearpaciente_ocupacion"
              >
                <option value="">Seleccione una opcion</option>
              </select>
            </div>
            <div class="col-md-4">
              <label>Grado Academico</label>
              <select
                class="form-control form-control-sm"
                formControlName="crearpaciente_grado"
              >
                <option value="">Seleccione una opcion</option>
                <option
                  *ngFor="let academico of getAcademic"
                  [value]="academico.codigo"
                  >
                  {{ academico.descripcion }}

                </option>
              </select>
            </div>
            <div class="col-md-4">
              <label>Estado Civil</label>
              <select
                class="form-control form-control-sm"
                formControlName="crearpaciente_estadocivil"
              >
                <option value="">Seleccione una opcion</option>
                <option
                  *ngFor="let estado of getCivilStatu"
                  [value]="estado.codigo"
                >
                  {{ estado.descripcion }}
              </option>
              </select>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <h6>¿Es menor de edad ?</h6>
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="flexSwitchCheckChecked"
                  formControlName="crearpaciente_esmenor"
                  (change)="esmenorEdad()"
                >
                <label class="form-check-label" for="flexSwitchCheckChecked">Si</label>
              </div>
            </div>
            <div class="row mt-1" [hidden]="containerResponsable">
              <div class="col-md-3">
                <label>Documento</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  formControlName="crearpaciente_documentores"
                >
              </div>
              <div class="col-md-4">
                <label>Nombre Responsable</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  formControlName="crearpaciente_responsable"
                >
              </div>
              <div class="col-md-2">
                <label>Telefono</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  formControlName="crearpaciente_telefonores"
                >
              </div>
              <div class="col-md-3">
                <label>Parentesco</label>
                <select
                  class="form-control form-control-sm"
                  formControlName="crearpaciente_parentescores"
                >
                <option value="">Seleccione una opcion</option>
              </select>
              </div>
            </div>
          </div>
          <br>
        </form>
        </div>
      </div>
    </div>
  </div>



