<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  * -->
<!-- * * * * * * * * * * * JERSON GALVEZ ENSUNCHO * * * * * * * * * * * -->
<!-- ******* * * * * * * * PROYECTO CLINICSOFT * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<div class="min-height-300 bg-default position-absolute w-100"></div>
<main class="main-content position-relative border-radius-lg">
  <app-cerrarsesion titulo="Historial Paciente"></app-cerrarsesion>
  <div class="container-fluid py-1">
    <div class="row">
      <div class="card">
        <div class="container-fluid mt-3">
          <div class="row">
            <div class="col-md-3">
                <div class="page-header">
                  <div class="d-flex align-items-lg-center">
                    <div class="flex-shrink-0">
                      <img class="avatar avatar-xl avatar-circle" src="https://htmlstream.com/preview/front-v4.2/html/assets/img/160x160/img9.jpg" alt="Image Description">
                    </div>
                    <div class="flex-grow-1 ms-4">
                      <div class="row">
                        <div class="col-lg mb-3 mb-lg-0">
                          <h4 class="page-header-title h6">Jerson Reinel Galvez Ensuncho</h4>
                          <ul class="list-inline list-separator">
                            <li class="list-inline-item">
                              <i class="bi-geo-alt-fill text-primary me-1"></i> 26/12/1993 - 30 años
                            </li>
                            <li> Editar - Imprimir</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="card card-dashed h-900">
              <div class="card-header bg-default"><h6 class="text-white text-uppercase">Ultimos signos vitales</h6></div>
              <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <ul class="list-inline ">
                          <li><i class="fas fa-ruler-vertical mt-2 text-danger"></i> Estatura</li>
                          <li><i class="fas fa-weight text-dark mt-2"></i> Peso</li>
                          <li><i class="fas fa-child mt-2 text-warning"></i> Masa Corporal</li>
                          <li><i class="fas fa-thermometer mt-2 text-success"></i> Temperatura</li>
                          <li><i class="fas fa-diagnoses text-dark"></i> Frecu Respiratoria</li>
                          <li><i class="fas fa-heartbeat mt-2 text-danger"></i> Frecu Cardiaca</li>
                          <li><i class="fas fa-child mt-2 text-info"></i> Porcentaje Grasa</li>
                        </ul>
                    </div>
                    <div class="col-md-5">
                        <ul class="list-inline ">
                            <li class="mt-1">175 Mts</li>
                            <li class="mt-0">80 Kg</li>
                            <li class="mt-1">10 IMC</li>
                            <li class="mt-0">20 C</li>
                            <li class="mt-2">10 r/m</li>
                            <li class="mt-1">20 mmHg</li>
                            <li class="mt-0">20 %</li>
                          </ul>
                    </div>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="card card-dashed h-200 mt-3">
              <div class="card-header bg-default"><h6 class="text-white text-uppercase">Archivos</h6></div>
              <div class="card-body">
                  <div class="row">
                    <div class="col-md-12">
                      <ul class="list-inline ">
                        <li>
                         <a href="#">Examen_historial_fisico</a>
                         <i class="fas fa-file-pdf mx-1 text-danger"></i>
                        </li>
                        <small>66 mb | 01-03-2024 12:30 pm</small>
                      </ul>
                      <button class="btn btn-primary btn-xs">Subir archivo</button>
                    </div>
                  </div>
              </div>
            </div>
             </div>
             <div class="col-md-6">
               <div class="card card-dashed h-200">
                 <div class="card-header bg-default"><h6 class="text-white text-uppercase">Antecedentes</h6></div>
                   <div class="card-body">
                     <div class="accordion accordion-btn-icon-start" id="accordionBtnIconStartExample">
                       <div class="accordion-item">
                         <div class="accordion-header" id="btn-icon-start-headingOne">
                           <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#btn-icon-start-collapseOne" aria-expanded="true" aria-controls="btn-icon-start-collapseOne">
                             <span class="ps-1 text-info text-bold"><i class="fas fa-plus"></i> ALERGIAS</span>
                           </a>
                         </div>
      <div id="btn-icon-start-collapseOne" class="accordion-collapse collapse show" aria-labelledby="btn-icon-start-headingOne" data-bs-parent="#accordionBtnIconStartExample">
        <div class="accordion-body">
          <div class="alert alert-primary text-white" role="alert">
            <h6 class="alert-heading">Alergia a Medicamentos</h6>
            <ul class="list-inline ">
              <li></li>
            </ul>
            <hr>
            <h6 class="alert-heading">Otras Alergias</h6>
            <ul class="list-inline ">
              <li></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-header" id="btn-icon-start-headingTwo">
        <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#btn-icon-start-collapseTwo" aria-expanded="false" aria-controls="btn-icon-start-collapseTwo">
            <span class="ps-1 text-info text-bold"><i class="fas fa-plus"></i> ANTECEDENTES PATOLOGICOS</span>
        </a>
      </div>
      <div id="btn-icon-start-collapseTwo" class="accordion-collapse collapse" aria-labelledby="btn-icon-start-headingTwo" data-bs-parent="#accordionBtnIconStartExample">
        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-btn-icon-start</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-header" id="btn-icon-start-headingThree">
        <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#btn-icon-start-collapseThree" aria-expanded="false" aria-controls="btn-icon-start-collapseThree">
            <span class="ps-1 text-info text-bold"><i class="fas fa-plus"></i> ANTECEDENTES PSIQUIATRICOS</span>
        </a>
      </div>
      <div id="btn-icon-start-collapseThree" class="accordion-collapse collapse" aria-labelledby="btn-icon-start-headingThree" data-bs-parent="#accordionBtnIconStartExample">
        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-btn-icon-start</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
      </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-header" id="btn-icon-start-headingThree">
          <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#btn-icon-start-collapseThree" aria-expanded="false" aria-controls="btn-icon-start-collapseThree">
              <span class="ps-1 text-info text-bold"><i class="fas fa-plus"></i> DIETA NUTRICIONAL</span>
          </a>
        </div>
        <div id="btn-icon-start-collapseThree" class="accordion-collapse collapse" aria-labelledby="btn-icon-start-headingThree" data-bs-parent="#accordionBtnIconStartExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-btn-icon-start</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
        </div>
      </div>
      <div class="accordion-item">
        <div class="accordion-header" id="btn-icon-start-headingThree">
          <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#btn-icon-start-collapseThree" aria-expanded="false" aria-controls="btn-icon-start-collapseThree">
              <span class="ps-1 text-info text-bold"><i class="fas fa-plus"></i> ANTECEDENTES GINECO-OBSTETRICOS</span>
          </a>
        </div>
        <div id="btn-icon-start-collapseThree" class="accordion-collapse collapse" aria-labelledby="btn-icon-start-headingThree" data-bs-parent="#accordionBtnIconStartExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-btn-icon-start</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
        </div>
      </div>
      <div class="accordion-item">
        <div class="accordion-header" id="btn-icon-start-headingThree">
          <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#btn-icon-start-collapseThree" aria-expanded="false" aria-controls="btn-icon-start-collapseThree">
              <span class="ps-1 text-info text-bold"><i class="fas fa-plus"></i> ESQUEMA DE VACUNACIÓN</span>
          </a>
        </div>
        <div id="btn-icon-start-collapseThree" class="accordion-collapse collapse" aria-labelledby="btn-icon-start-headingThree" data-bs-parent="#accordionBtnIconStartExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-btn-icon-start</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
        </div>
      </div>
      <div class="accordion-item">
        <div class="accordion-header" id="btn-icon-start-headingThree">
          <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#btn-icon-start-collapseThree" aria-expanded="false" aria-controls="btn-icon-start-collapseThree">
              <span class="ps-1 text-info text-bold"><i class="fas fa-plus"></i> MEDICAMENTOS ACTIVOS</span>
          </a>
        </div>
        <div id="btn-icon-start-collapseThree" class="accordion-collapse collapse" aria-labelledby="btn-icon-start-headingThree" data-bs-parent="#accordionBtnIconStartExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-btn-icon-start</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
        </div>
      </div>
  </div>
  <!-- End Accordion -->
                   </div>
                 </div>
               </div>
               <div class="col-md-3">
                <div class="card card-dashed h-900">
                    <div class="card-header bg-default"><h6 class="text-white text-uppercase">consulta</h6></div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="d-grid gap-2">
                            <button class="btn btn-primary rounded-pill">Nueva Consulta</button>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <small class="text-bold mb-2">CONSULTAS AGENDADAS
                          <span class="icon icon-soft-primary">
                            <i class="fas fa-plus text-danger mx-1 "></i>
                          </span>
                        </small>
                          <div class="alert alert-danger text-white" role="alert">
                            <h6 class="alert-heading">Dolor de garganta</h6>
                            <hr>
                            <small> <i class="fas fa-calendar"></i> 26/12/1993 12:30 PM</small>
                          </div>
                        <P>Aun no hay citas agendadas utiliza la <a href="" class="text-danger">agenda</a>  para calendarizarla</P>
                      </div>
                      <div class="row mt-4">
                        <small class="text-bold mb-2">CONSULTAS INICIADAS</small>
                        <div class="alert alert-success text-white" role="alert">
                          <h6 class="alert-heading">Dolor de garganta ||<small> Cancer de cabeza</small></h6>
                          <hr>
                          <ul class="list-inline">
                            <li>Amoxicilina</li>
                          </ul>
                          <small> <i class="fas fa-calendar"></i> 26/12/1993 12:30 PM</small>
                        </div>
                      </div>
                    </div>
                  </div>
               </div>
            </div>
            <!--  -->
          </div>
        </div>
      </div>
    </div>


