<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  * -->
<!-- * * * * * * * * * * * JERSON GALVEZ ENSUNCHO * * * * * * * * * * * -->
<!-- ******* * * * * * * * PROYECTO CLINICSOFT * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->

<div class="min-height-300 bg-default position-absolute w-100"></div>
<aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
  <div class="sidenav-header">
     <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
     <a class="navbar-brand m-0" href="#">
     <img src="http://localhost/CODEIGNITER/ClinicSoft/public/img/theme/logo.png" class="navbar-brand-img h-100" alt="main_logo">
     <span class="mx-3 font-weight-bold"> <span class="text-black h6">ClinicSoft</span><small class="text-danger">peru</small></span>
     <!-- <span class="mx-3 font-weight-bold"> <span class="text-black h6">ClinicSoft</span><small style="color: yellow;">Co</small><small class="text-primary">lom</small><small class="text-danger">bia</small></span> -->
     </a>
  </div>
  <hr class="horizontal dark mt-0">
  <div class="navbar-collapse  w-auto " style="height: 540px !important;" id="sidenav-collapse-main">
     <ul class="navbar-nav">
        <li class="nav-item ">
           <a class="nav-link " data-bs-toggle="collapse" aria-expanded="false" href="#atencion">
           <i class="fas fa-user-nurse"></i>
           <span class="sidenav-normal "> Admisiones <b class="caret"></b></span>
           </a>
           <div class="collapse " id="atencion">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                   <a class="nav-link " href="">
                   <span class="sidenav-normal">Pacientes</span>
                   </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="">
                  <span class="sidenav-normal">Citas</span>
                  </a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" href="">
                    <span class="sidenav-normal">Admisión</span>
                    </a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link " href="">
                    <span class="sidenav-normal"> Triage</span>
                    </a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link " href="">
                    <span class="sidenav-normal">Laboratorio</span>
                    </a>
                 </li>
              </ul>
           </div>
        </li>
        <li class="nav-item ">
          <a class="nav-link " data-bs-toggle="collapse" aria-expanded="false" href="#procedimientos">
          <i class="fas fa-flask"></i>
          <span class="sidenav-normal ">Procedimientos<b class="caret"></b></span>
          </a>
          <div class="collapse " id="procedimientos">
             <ul class="nav nav-sm flex-column">
               <li class="nav-item">
                 <a class="nav-link " href="">
                  <span class="sidenav-normal">Colposcopia</span>
                 </a>
               </li>
                <li class="nav-item">
                   <a class="nav-link" href="">
                   <span class="sidenav-normal">Ecografias</span>
                   </a>
                </li>
             </ul>
          </div>
       </li>
       <li class="nav-item ">
        <a class="nav-link " data-bs-toggle="collapse" aria-expanded="false" href="#inventarios">
        <i class="fa fa-shopping-cart"></i>
        <span class="sidenav-normal ">Inventarios<b class="caret"></b></span>
        </a>
        <div class="collapse " id="inventarios">
           <ul class="nav nav-sm flex-column">
             <li class="nav-item">
               <a class="nav-link " href="">
                <span class="sidenav-normal">Productos</span>
               </a>
             </li>
              <li class="nav-item">
                 <a class="nav-link" href="">
                 <span class="sidenav-normal">Movimientos</span>
                 </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">
                <span class="sidenav-normal">Kardex</span>
                </a>
             </li>
           </ul>
        </div>
       </li>
       <li class="nav-item ">
        <a class="nav-link " data-bs-toggle="collapse" aria-expanded="false" href="#contable">
        <i class="fas fa-money-bill"></i>
        <span class="sidenav-normal ">Contabilidad<b class="caret"></b></span>
        </a>
        <div class="collapse " id="contable">
           <ul class="nav nav-sm flex-column">
             <li class="nav-item">
               <a class="nav-link " href="">
                <span class="sidenav-normal">Pagos</span>
               </a>
             </li>
              <li class="nav-item">
                 <a class="nav-link" href="">
                 <span class="sidenav-normal">Gastos</span>
                 </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">
                <span class="sidenav-normal">Finanzas</span>
                </a>
             </li>
           </ul>
        </div>
       </li>
       <li class="nav-item ">
        <a class="nav-link " data-bs-toggle="collapse" aria-expanded="false" href="#seguridad">
        <i class="fas fa-cogs"></i>
        <span class="sidenav-normal ">Seguridad<b class="caret"></b></span>
        </a>
        <div class="collapse " id="seguridad">
           <ul class="nav nav-sm flex-column">
             <li class="nav-item">
               <a class="nav-link " href="">
                <span class="sidenav-normal">Administrativos</span>
               </a>
             </li>
             <li class="nav-item">
              <a class="nav-link " href="">
               <span class="sidenav-normal">Medicos</span>
              </a>
            </li>
           </ul>
        </div>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#">
           <i class="fas fa-chart-pie"></i>
           <span>Reportes</span>
         </a>
       </li>
       <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-pills"></i>
          <span>Farmacia</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-vial"></i>
          <span>Resultados</span>
        </a>
      </li>
     <li class="nav-item">
       <a class="nav-link" href="#">
         <i class="fas fa-info-circle"></i>
         <span> Version 3.0.0.0</span>
       </a>
      </li>
     </ul>
  </div>
</aside>
<main class="main-content position-relative border-radius-lg">
  <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
    <div class="container-fluid py-1 px-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
          <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="javascript:;">Administración</a></li>
          <li class="breadcrumb-item text-sm text-white active" aria-current="page">Colposcopia</li>
        </ol>
        <h6 class="font-weight-bolder text-white mb-0">Colposcopia</h6>
      </nav>
      <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
        <div class="ms-md-auto pe-md-3 d-flex align-items-center">
          <div class="input-group">
          </div>
        </div>
        <ul class="navbar-nav  justify-content-end">
          <li class="nav-item d-flex align-items-center">
            <a href="#" class="nav-link text-white font-weight-bold px-0">
              <i class="fa fa-user me-sm-1"></i>
              <span class="d-sm-inline d-none">Cerrar Sesión</span>
            </a>
          </li>
          <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
              <div class="sidenav-toggler-inner">
                <i class="sidenav-toggler-line bg-white"></i>
                <i class="sidenav-toggler-line bg-white"></i>
                <i class="sidenav-toggler-line bg-white"></i>
              </div>
            </a>
          </li>
          <li class="nav-item px-3 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-white p-0">
              <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
            </a>
          </li>
          <li class="nav-item dropdown pe-2 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-white p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-bell cursor-pointer"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid py-1">
    <div class="row ">
      <div class="card">

        <table class="table table-striped table-hover mt-3">
          <thead>
            <tr class="bg-default">
              <th class="text-xs text-white">OPCIONES</th>
              <th class="text-xs text-white">INFORME</th>
              <th class="text-xs text-white">PACIENTE</th>
              <th class="text-xs text-white">FECHA</th>
              <th class="text-xs text-white">MEDICO</th>
              <th class="text-xs text-white">IMAGENES</th>
            </tr>
          </thead>

          <tbody>

          </tbody>
        </table>
        <div class="row mt-3">
          <div class="col-md-12">
            <h5>CREAR COLPOSCOPIA</h5>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-md-6">
            <label>DNI</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-md-6">
            <label>Nombre</label>
            <input type="text" class="form-control">
          </div>
        </div>

          <div class="row mt-1">
            <div class="col-md-6">
              <label>Fecha</label>
              <input type="date" class="form-control">
            </div>
            <div class="col-md-6">
              <label>Medico</label>
              <input type="text" class="form-control">
            </div>
          </div>

        <div class="row mt-3">
          <div class="col-md-4">
            <label>U.escamo columnar</label>
            <select class="form-select" aria-label="Default select example">
              <option selected>Seleccione una opcion</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="col-md-4">
            <label>Endo cervix</label>
            <select class="form-select" aria-label="Default select example">
              <option selected>Seleccione una opcion</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="col-md-4">
            <label>Vagina</label>
            <select class="form-select" aria-label="Default select example">
              <option selected>Seleccione una opcion</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-4">
            <label>Vulva</label>
            <select class="form-select" aria-label="Default select example">
              <option selected>Seleccione una opcion</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="col-md-4">
            <label>Perineo</label>
            <select class="form-select" aria-label="Default select example">
              <option selected>Seleccione una opcion</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="col-md-4">
            <label>Region Parianal</label>
            <select class="form-select" aria-label="Default select example">
              <option selected>Seleccione una opcion</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-6">
            <label> Biopsia</label>
            <select class="form-select" aria-label="Default select example">
              <option selected>Seleccione una opcion</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="col-md-6">
            <label> Papanicolaou</label>
            <select class="form-select" aria-label="Default select example">
              <option selected>Seleccione una opcion</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-6">
            <label>Conclusiones</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="col-md-6">
            <label>Seleccione las imagenes</label>
            <input class="form-control form-control-sm" id="formFileSm" type="file">
            <input class="form-control form-control-sm mt-4" id="formFileSm" type="file">
          </div>
        </div>
        <br>

      </div>
    </div>
  </div>

