<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  * -->
<!-- * * * * * * * * * * * JERSON GALVEZ ENSUNCHO * * * * * * * * * * * -->
<!-- ****** * * * * * * * * * PROYECTO WEBSOFT * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<main id="content" role="main" class="overflow-hidden">
    <div class="position-relative">
      <div class="js-swiper-blog-journal-hero swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide d-flex gradient-x-overlay-sm-dark bg-img-start" style="background-image: url(../assets/img/banner1.jpg); min-height: 40rem;">
            <div class="container d-flex align-items-center" style="min-height: 40rem;">
              <div class="w-lg-100 me-3">
                <div class="d-flex align-items-center mb-3">
                  
                </div>
                <div class="mb-5">
                  <h4 class="h2 text-white">WELCOME TO</h4>
                  <h2 class="h1 text-white">PROFESSIONAL TRANSPORT</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="js-swiper-blog-journal-hero-pagination swiper-pagination swiper-pagination-light swiper-pagination-vertical swiper-pagination-middle-y-end me-3 d-lg-none"></div>
      </div>
    </div>
    <header id="header" class="navbar navbar-expand-lg navbar-end navbar-absolute-top navbar-dark">
      <div class="container navbar-topbar">
        <nav class="js-mega-menu navbar-nav-wrap">
          <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#topbarNavDropdown" aria-controls="topbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="d-flex justify-content-between align-items-center small">
              <span class="navbar-toggler-text">Topbar</span>
              <span class="navbar-toggler-default">
                <i class="bi-chevron-down ms-2"></i>
              </span>
              <span class="navbar-toggler-toggled">
                <i class="bi-chevron-up ms-2"></i>
              </span>
            </span>
          </button>
          <div id="topbarNavDropdown" class="navbar-nav-wrap-collapse collapse navbar-collapse navbar-topbar-collapse">
            <div class="navbar-toggler-wrapper">
              <div class="navbar-topbar-toggler d-flex justify-content-between align-items-center">
                <span class="navbar-toggler-text small">Topbar</span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topbarNavDropdown" aria-controls="topbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="bi-x"></i>
                </button>
              </div>
            </div>
            <ul class="navbar-nav">
              <li class="hs-has-mega-menu nav-item">
                <a id="demosMegaMenu" class="hs-mega-menu-invoker nav-link" aria-current="page" href="#" role="button">
                    <i class="fab fa-facebook"></i>
                </a>
              </li>
              <li class="hs-has-mega-menu nav-item" >
                <a id="docsMegaMenu" class="hs-mega-menu-invoker nav-link" href="#" role="button">
                    <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="hs-has-mega-menu nav-item" >
                <a id="docsMegaMenu" class="hs-mega-menu-invoker nav-link" href="#" role="button">
                    <i class="fab fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div>
      </nav>
    </div>
    <div class="container">
      <nav class="js-mega-menu navbar-nav-wrap">
        <a class="navbar-brand" href="#" aria-label="Front">
          <img class="navbar-brand-logo" src="assets/img/greatexportblanco.png" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-default">
            <i class="fas fa-list"></i>
          </span>
          <span class="navbar-toggler-toggled">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <div class="navbar-absolute-top-scroller">
            <ul class="navbar-nav">
              <li class="hs-has-mega-menu nav-item">
                <a id="landingsMegaMenu" class="hs-mega-menu-invoker nav-link text-white" aria-current="page" href="#" role="button" aria-expanded="false">
                    HOME
                </a>
              </li>
              <li class="hs-has-sub-menu nav-item">
                <a id="companyMegaMenu" class="hs-mega-menu-invoker nav-link text-white" href="#" role="button" aria-expanded="false">
                    PAGES
                </a>
              </li>
              <li class="hs-has-sub-menu nav-item">
                <a id="accountMegaMenu" class="hs-mega-menu-invoker nav-link text-white" href="#" role="button" aria-expanded="false">
                    SERVICES
                </a>
              </li>
              <li class="hs-has-sub-menu nav-item">
                <a id="pagesMegaMenu" class="hs-mega-menu-invoker nav-link text-white"  href="#" role="button" aria-expanded="false">
                    FLEET
                </a>
              </li>
              <li class="hs-has-sub-menu nav-item">
                <a id="blogMegaMenu" class="hs-mega-menu-invoker nav-link text-white" href="#" role="button" aria-expanded="false">
                    NEW
                </a>
               
              </li>
              <li class="hs-has-sub-menu nav-item">
                <a id="portfolioMegaMenu" class="hs-mega-menu-invoker nav-link text-white" href="#" role="button" aria-expanded="false">
                    CONTACT
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <div class="container-fluid" style="background-color: #0b60a9;">
    <div class="col-md-12">
      <div class="row">
        <div class="border-bottom">
    <div class="container-fluid content-space-1">
      <div class="row">
        <div class="col-md-3 mb-3 mb-md-0">
          <div class="d-flex">
            <div class="flex-shrink-0">
              <i class="fas fa-headset fa-2x text-white"></i>
              <!-- <img class="avatar avatar-4x3" src="../assets/svg/illustrations/oc-protected-card.svg"> -->
            </div>
            <div class="flex-grow-1 ms-4">
              <h4 class="mb-1 text-white">  CALLCENTER</h4>
              <p class="small mb-0 text-white">Give us a free cal</p>
              <p class="small mb-0 text-white">+1 555-676-1020</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-3 mb-md-3">
          <div class="d-flex">
            <div class="flex-shrink-0">
              <i class="fas fa-clock fa-2x text-white"></i>
              <!-- <img class="avatar avatar-4x3" src="../assets/svg/illustrations/oc-return.svg"> -->
            </div>
            <div class="flex-grow-1 ms-4">
              <h4 class="mb-1 text-white">WORKING HOURS</h4>
              <p class="small mb-0 text-white">Mon-Sat 7AM-5PM</p>
              <p class="small mb-0 text-white">Sat 9AM-3PM</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-3 mb-md-0">
          <div class="d-flex">
            <div class="flex-shrink-0">
              <i class="fas fa-map fa-2x text-white"></i>
              <!-- <img class="avatar avatar-4x3" src="../assets/svg/illustrations/oc-truck.svg"> -->
            </div>
            <div class="flex-grow-1 ms-4">
              <h4 class="mb-1 text-white">OUR LOCATION</h4>
              <p class="small mb-0 text-white">300 Kansas Ave NW</p>
              <p class="small mb-0 text-white">New Jersey</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <i class="fas fa-plane-departure fa-2x text-white"></i>
                <!-- <img class="avatar avatar-4x3" src="../assets/svg/illustrations/oc-truck.svg"> -->
              </div>
              <div class="flex-grow-1 ms-4">
                <h4 class="mb-1 text-white">GET QUICK QUOTE</h4>
                <p class="small mb-0 text-white">Transport Airline</p>
                <p class="small mb-0 text-white">Transport terrest</p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
      </div>
    </div>    
  </div>
  <div class="container-fluid" style="background-color: #08487f;">
    <div class="row">
      <div class="col-md-12">
        <br>
      </div>
    </div>
  </div>
  <div class="container-fluid content-space-1">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-right">OUR SERVICES</h5>
          <h2 class="text-right">WHAT WE CAN DO FOR YOU</h2>
        </div>
        <div class="col-md-4">
          <div class="card card-bordered h-100" style="max-width: 30rem;">
            <div class="card-body">
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <a class="" href="../blog-profile.html">
                    <img class="" src="../assets/img/barco.png" width="30px;">
                  </a>
                </div>
                <div class="flex-grow-1 ms-3">
                  <h4 class="card-title">OCEAN CARGO</h4>
                </div>
              </div>
              <p class="card-text">
                Some quick example text to build on the card title and make up the
                bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-bordered h-100" style="max-width: 30rem;">
            <div class="card-body">
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <a class="" href="../blog-profile.html">
                    <img class="" src="../assets/img/icono avion.png" width="40px;">
                  </a>
                </div>
                <div class="flex-grow-1 ms-3">
                  <h4 class="card-title">FLY ANYWHERE</h4>
                </div>
              </div>
              
              <p class="card-text">
                Some quick example text to build on the card title and make up the
                bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-4">
          <img src="https://cargo.bold-themes.com/transport-company/wp-content/uploads/sites/2/2015/10/truck_green.png" class="img-fluid">
        </div>
        <div class="col-md-4">
          <div class="card card-bordered h-200" style="max-width: 30rem;">
            <div class="card-body">
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <a class="" href="../blog-profile.html">
                    <img class="" src="../assets/img/icono camion.png" width="25px;">
                  </a>
                </div>
                <div class="flex-grow-1 ms-3">
                  <h4 class="card-title">PROFESSIONAL SERVICES</h4>
                </div>
              </div>
              <p class="card-text">
                Some quick example text to build on the card title and make up the
                bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-bordered h-200" style="max-width: 30rem;">
            <div class="card-body">
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <a class="" href="../blog-profile.html">
                    <img class="" src="../assets/img/icono   almacenamiento.png" width="30px;">
                  </a>
                </div>
                <div class="flex-grow-1 ms-3">
                  <h4 class="card-title">CARGO STORAGE</h4>
                </div>
              </div>
              <p class="card-text">
                Some quick example text to build on the card title and make up the
                bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid content-space-1" style="background-color: #0b60a9;">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-right text-white">OUR CLIENTS</h5>
          <h2 class="text-right text-white">CLIENTS THAT TRUST OUR SERVICES</h2>
        </div>
        <div class="col-md-4">
          <div class="card" style="max-width: 30rem;">
            <div class="card-body">
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <a class="" href="../blog-profile.html">
                    <img class="" src="../assets/img/icono   almacenamiento.png" width="30px;">
                  </a>
                </div>
                <div class="flex-grow-1 ms-3">
                  <p class="card-text">
                    I owe my success to having listened respectfully to the very best advice, and then going
                     away and doing the exact opposite.
                  </p>
                </div>
              </div>    
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="max-width: 30rem;">
            <div class="card-body">
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <a class="" href="../blog-profile.html">
                    <img class="" src="../assets/img/icono   almacenamiento.png" width="30px;">
                  </a>
                </div>
                <div class="flex-grow-1 ms-3">
                  <p class="card-text">
                    Successful people do what unsuccessful people are not willing to do. Don’t wish it were 
                    easier; wish you were better.
                  </p>
                </div>
              </div>    
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <div class="container content-space-2">
            <div class="row">
              <div class="col text-center py-3">
                <img class="avatar avatar-lg avatar-4x3" src="https://htmlstream.com/preview/front-v4.2/html/assets/svg/brands/hollister-dark.svg" alt="Logo">
              </div>
              <div class="col text-center py-3">
                <img class="avatar avatar-lg avatar-4x3" src="https://htmlstream.com/preview/front-v4.2/html/assets/svg/brands/levis-dark.svg" alt="Logo">
              </div>
              <div class="col text-center py-3">
                <img class="avatar avatar-lg avatar-4x3" src="https://htmlstream.com/preview/front-v4.2/html/assets/svg/brands/new-balance-dark.svg" alt="Logo">
              </div>
              <div class="col text-center py-3">
                <img class="avatar avatar-lg avatar-4x3" src="https://htmlstream.com/preview/front-v4.2/html/assets/svg/brands/puma-dark.svg" alt="Logo">
              </div>
              <div class="col text-center py-3">
                <img class="avatar avatar-lg avatar-4x3" src="https://htmlstream.com/preview/front-v4.2/html/assets/svg/brands/nike-dark.svg" alt="Logo">
              </div>
              <div class="col text-center py-3">
                <img class="avatar avatar-lg avatar-4x3" src="https://htmlstream.com/preview/front-v4.2/html/assets/svg/brands/tnf-dark.svg" alt="Logo">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid content-space-2">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-right ">OUR CORE VALUES</h5>
          <h2 class="text-right ">OUR SKILLS AND EXPERTISE</h2>
        </div>
        <div class="col-md-4">
          <div class="d-flex">
            <div class="flex-shrink-0">
              <a class="" href="../blog-profile.html">
                <img class="" src="../assets/img/icono   almacenamiento.png" width="30px;">
              </a>
            </div>
            <div class="flex-grow-1 ms-3">
              <p>The core values are the guiding principles that dictate behavior and action. There are many
                 different types of core values and many different examples of core values depending upon the
                  context.
              </p>
            </div>
          </div> 
        </div>
        <div class="col-md-4">
          <img src="https://cargo.bold-themes.com/transport-company/wp-content/uploads/sites/2/2015/10/forklift.png" class="img-fluid zi-999"  style="position: relative;">
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-12">
          <div class="container ">
            <div class="row">
              <div class="col-sm-4 mb-3 mb-sm-0">
                <div class="text-center">
                  <h4 class="display-4">1,273</h4>
                  <p>
                    Praesent eu rhoncus nibh. Quisque tincidunt, nisi in venenatis commodo, neque quam
                    pharetra dolor, nec lacinia urna quam
                  </p>
                </div>
              </div>
             <div class="col-sm-4 mb-3 mb-sm-0">
               <div class="text-center">
                 <h4 class="display-4">473,793</h4>
                 <p>
                  Praesent eu rhoncus nibh. Quisque tincidunt, nisi in venenatis commodo, neque quam
                  pharetra dolor, nec lacinia urna quam
                </p>
               </div>
             </div>
             <div class="col-sm-4">
               <div class="text-center">
                 <h4 class="display-4">513</h4>
                 <p>
                  Praesent eu rhoncus nibh. Quisque tincidunt, nisi in venenatis commodo, neque quam
                  pharetra dolor, nec lacinia urna quam
                </p>
               </div>
             </div>
           </div>
         </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid content-space-1">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-right ">WE ARE THE BEST</h5>
          <h2 class="text-right ">CARGO IN NUMBERS</h2>

          <p class="mt-5">
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident.
          </p>
        </div>
        <div class="col-md-8">
          <label for="">MARKET SHARE IN CE REGION</label>
          <div class="progress" style="height: 20px;">
            <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">75%</div>
          </div>
          <br>
          <label for="">REVENUE GROWTH PER YEAR</label>
          <div class="progress" style="height: 20px;">
            <div class="progress-bar" role="progressbar" style="width: 61%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">61%</div>
          </div>
          <br>
          <label for="">PROFIT GROWTH PER YEAR</label>
          <div class="progress" style="height: 20px;">
            <div class="progress-bar" role="progressbar" style="width: 54%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">54%</div>
          </div>
          <br>
          <label for="">INCREASE IN NUMBER OF LOGISTICS CENTERS</label>
          <div class="progress" style="height: 20px;">
            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">100%</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid content-space-1">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-right ">WHAT WE DO</h5>
          <h2 class="text-right ">LATEST NEWS AND EVENTS</h2>
        </div>
        <div class="col-md-4">
          <div class="card" style="max-width: 50rem;">
            <div class="card-body">
              <span class="card-subtitle"></span>
              <p class="card-text">
                Interested in finding out more? Click on all news for more information.
              </p>
              <a class="card-link btn btn-primary" href="#">READ ALL NEWS</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="max-width: 50rem;">
            <div class="card-body">
              <span class="card-subtitle"></span>
              <p class="card-text">
                Subscribe to our newsletter. Click here for more information
              </p>
              <a class="card-link btn btn-dark" href="#">NEWSLETTER</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="container content-space-1 content-space-lg-1">
          <div class="row mb-5 mb-sm-5">
            <div class="col-md-4 mb-3 mb-md-5">
            <a class="card card-transition h-100" href="#" data-aos="fade-up">
              <div class="card-pinned">
                <img class="card-img-top" src="https://cargo.bold-themes.com/transport-company/wp-content/uploads/sites/2/2015/09/shutterstock_177975590.jpg">
                <span class="card-pinned-top-start">
                 <span class="badge bg-primary rounded-pill">Free</span>
                </span>
              </div>
              <div class="card-body">
                <h3 class="card-title text-inherit">Liberalisation of air cargo industry</h3>
                <p class="card-text text-body">
                  Sed vel dolor aliquet, sollicitudin elit eget, egestas 
                  arcu. Cras a tristique tellus, nec congue leo. Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit.
                </p>
              </div>
              <div class="card-footer pt-0">
                <span class="card-link">FIND OUT MORE <i class="bi-chevron-right small ms-1"></i></span>
              </div>
            </a>
          </div>
    <div class="col-md-4 mb-3 mb-md-5">
      <a class="card card-transition h-100" href="#" data-aos="fade-up">
        <div class="card-pinned">
          <img class="card-img-top" src="https://cargo.bold-themes.com/transport-company/wp-content/uploads/sites/2/2015/09/shutterstock_177975590.jpg">
          <span class="card-pinned-top-start">
            <span class="badge bg-primary rounded-pill">Free</span>
          </span>
        </div>
        <div class="card-body">
          <h3 class="card-title text-inherit">New trucks arriving</h3>
          <p class="card-text text-body">
            Consectetur adipiscing elit, lorem ipsum dolor sit amet. Sed
            vel dolor aliquet, sollicitudin elit eget, egestas arcu. Cras
            a tristique tellus, nec congue leo.
          </p>
        </div>
        <div class="card-footer pt-0">
          <span class="card-link">FIND OUT MORE <i class="bi-chevron-right small ms-1"></i></span>
        </div>
      </a>
    </div>
    <div class="col-md-4 mb-3 mb-md-5">
      <a class="card card-transition h-100" href="#" data-aos="fade-up">
        <div class="card-pinned">
          <img class="card-img-top" src="https://cargo.bold-themes.com/transport-company/wp-content/uploads/sites/2/2015/09/shutterstock_177975590.jpg">
          <span class="card-pinned-top-start">
            <span class="badge bg-primary rounded-pill">Free</span>
          </span>
        </div>
        <div class="card-body">
          <h3 class="card-title text-inherit">New warehouse now operational</h3>
          <p class="card-text text-body">
             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel
             dolor aliquet, sollicitudin elit eget, egestas arcu. Cras a tristique
             tellus, nec congue leo.
          </p>
        </div>
        <div class="card-footer pt-0">
          <span class="card-link">FIND OUT MORE <i class="bi-chevron-right small ms-1"></i></span>
        </div>
      </a>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
<div class="container-fluid">
  
      <div class="col-md-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15911.33772756521!2d-75.2128882!3d4.44189935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sco!4v1711990321271!5m2!1ses!2sco" width="1480" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
   
</div>
  <!-- ========== FOOTER ========== -->
<footer style="background-color: #08487f;">
  <div class="container pb-1 pb-lg-5">
    <div class="row content-space-t-2">
      <div class="col-12 col-lg-3 mb-7 mb-lg-0">
        <div class="mb-5">
          <a class="navbar-brand" href="#">
            <img class="navbar-brand-logo" src="../assets/img/greatexportblanco.png">
          </a>
        </div>
        <ul class="list-unstyled list-py-1">
          <li><a class="link-sm link-light" href="#"><i class="bi-geo-alt-fill me-1"></i> 153 Williamson Plaza, Maggieberg</a></li>
          <li><a class="link-sm link-light" href="tel:1-062-109-9222"><i class="bi-telephone-inbound-fill me-1"></i> +1 (062) 109-9222</a></li>
        </ul>
      </div>
      <div class="col-6 col-sm mb-7 mb-sm-0">
        <h5 class="text-white mb-3">Company</h5>
        <ul class="list-unstyled list-py-1 mb-0">
          <li><a class="link-sm link-light" href="#">About</a></li>
          <li><a class="link-sm link-light" href="#">Careers <span class="badge bg-warning text-dark rounded-pill ms-1">We're hiring</span></a></li>
          <li><a class="link-sm link-light" href="#">Blog</a></li>
          <li><a class="link-sm link-light" href="#">Customers <i class="bi-box-arrow-up-right small ms-1"></i></a></li>
          <li><a class="link-sm link-light" href="#">Hire us</a></li>
        </ul>
      </div>
      <div class="col-6 col-sm mb-7 mb-sm-0">
        <h5 class="text-white mb-3">Features</h5>
        <ul class="list-unstyled list-py-1 mb-0">
          <li><a class="link-sm link-light" href="#">Press <i class="bi-box-arrow-up-right small ms-1"></i></a></li>
          <li><a class="link-sm link-light" href="#">Release Notes</a></li>
          <li><a class="link-sm link-light" href="#">Integrations</a></li>
          <li><a class="link-sm link-light" href="#">Pricing</a></li>
        </ul>
      </div>
      <div class="col-6 col-sm">
        <h5 class="text-white mb-3">Documentation</h5>
        <ul class="list-unstyled list-py-1 mb-0">
          <li><a class="link-sm link-light" href="#">Support</a></li>
          <li><a class="link-sm link-light" href="#">Docs</a></li>
          <li><a class="link-sm link-light" href="#">Status</a></li>
          <li><a class="link-sm link-light" href="#">API Reference</a></li>
          <li><a class="link-sm link-light" href="#">Tech Requirements</a></li>
        </ul>
      </div>
      <div class="col-6 col-sm">
        <h5 class="text-white mb-3">Resources</h5>
        <ul class="list-unstyled list-py-1 mb-5">
          <li><a class="link-sm link-light" href="#"><i class="bi-question-circle-fill me-1"></i> Help</a></li>
          <li><a class="link-sm link-light" href="#"><i class="bi-person-circle me-1"></i> Your Account</a></li>
        </ul>
      </div>
    </div>
    <div class="border-top border-white-10 my-7"></div>
    <div class="row mb-7">
      <div class="col-sm mb-3 mb-sm-0">
        <ul class="list-inline list-separator list-separator-light mb-0">
          <li class="list-inline-item">
            <a class="link-sm link-light" href="#">Privacy & Policy</a>
          </li>
          <li class="list-inline-item">
            <a class="link-sm link-light" href="#">Terms</a>
          </li>
          <li class="list-inline-item">
            <a class="link-sm link-light" href="#">Site Map</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-auto">
        <ul class="list-inline mb-0">
        </ul>
      </div>
    </div>
    <div class="w-md-85 text-lg-center mx-lg-auto">
      <p class="text-white-50 small">© Front. 2021 Htmlstream. All rights reserved.</p>
      <p class="text-white-50 small">When you visit or interact with our sites, services or tools, we or our authorised service providers may use cookies for storing information to help provide you with a better, faster and safer experience and for marketing purposes.</p>
    </div>
  </div>
</footer>
<router-outlet></router-outlet>
