

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *  * -->
<!-- * * * * * * * * * * * JERSON GALVEZ ENSUNCHO * * * * * * * * * * * -->
<!-- ******* * * * * * * * PROYECTO INVENTSOFT * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->

<div class="min-height-300 bg-default position-absolute w-100"></div>
<nav class="navbar navbar-expand-lg blur border-radius-lg top-0 z-index-3 shadow position-absolute mt-4 py-2 start-0 end-0 mx-4">
    <div class="container-fluid">
    <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 " href="../pages/dashboard.html">
    InventSoft<small  style="color: yellow;">Co</small><small style="color: blue;">lom</small><small style="color: red;">bia</small>
    </a>
    <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon mt-2">
    <span class="navbar-toggler-bar bar1"></span>
    <span class="navbar-toggler-bar bar2"></span>
    <span class="navbar-toggler-bar bar3"></span>
    </span>
    </button>
    <div class="collapse navbar-collapse" id="navigation">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link me-2" routerLink="/usuarios">
          <i class="fa fa-cog opacity-6 text-dark me-1"></i>
          Seguridad
        </a>
      </li>
      <li class="nav-item">
      <a
        class="nav-link d-flex align-items-center me-2 active"
        routerLink="/inicio"
      >
      <i class="fa fa-home opacity-6 text-dark me-1"></i>
        Inicio
      </a>
      </li>
    <li class="nav-item">
    <a class="nav-link me-2" routerLink="/inventarios">
    <i class="fas fa-truck opacity-6 text-dark me-1"></i>
      Inventarios
    </a>
    </li>
    <li class="nav-item">
    <a class="nav-link me-2" routerLink="/venta">
    <i class="fas fa-shopping-cart opacity-6 text-dark me-1"></i>
      Ventas
    </a>
    </li>
    <li class="nav-item">
      <a class="nav-link me-2" routerLink="/pedidos">
      <i class="fas fa-motorcycle opacity-6 text-dark me-1"></i>
        Pedidos
      </a>
   </li>
   <li class="nav-item">
    <a class="nav-link me-2" routerLink="/compras">
    <i class="fas fa-chart-line opacity-6 text-dark me-1"></i>
      Compras
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link me-2" routerLink="/proveedores">
    <i class="fas fa-users opacity-6 text-dark me-1"></i>
      Proveedores
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link me-2" routerLink="/reportes">
    <i class="fas fa-chart-pie opacity-6 text-dark me-1"></i>
      reportes
    </a>
  </li>
    </ul>
    <ul class="navbar-nav d-lg-block d-none">
      <li class="nav-item">
        <a class="nav-link me-2" routerLink="/">
          Cerrar Sesion
        <i class="fas fa-user-circle opacity-6 text-dark me-1"></i>
        </a>
        </li>
    </ul>
    </div>
    </div>
    </nav>
<main class="main-content position-relative border-radius-lg">
  <div class="container-fluid py-6">
    <div class="row ">
      <div class="card">
        <br>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                  <li class="breadcrumb-item text-sm"><a class="opacity-5 " href="javascript:;">InventSoft</a></li>
                  <li class="breadcrumb-item text-sm  active" aria-current="page">Pedidos</li>
                </ol>
              </nav>
              <div class="d-flex align-items-center">
                <p class="mb-0 h6 text-uppercase ">Pedidos</p>
              </div>
            </div>
          </div>
        <div class="row mt-1">
          <div class="col-md-9">
            <div class="table-responsive">
              <table class="table table-striped table-hover">
                <thead style="background-color: black !important;">
                  <tr>
                    <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12"></th>
                    <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">CONSECUTIVO</th>
                    <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">TIPO PAGO</th>
                    <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">TOTAL</th>
                    <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">CUENTA POR COBRAR</th>
                    <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">HORA</th>
                    <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">FECHA</th>
                    <th class="text-uppercase text-white text-xs font-weight-bolder opacity-12">ESTADO</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card h-100 mb-4">
    <div class="card-header pb-0 px-3">
    <div class="row">
    <div class="col-md-6">
    <h6 class="mb-0">Transacciones Entrantes</h6>
    </div>
    <div class="col-md-6 d-flex justify-content-end align-items-center">
    <i class="fas fa-calendar-alt me-2"></i>
    <small>26-12-1993</small>
    </div>
    </div>
    </div>
    <div class="card-body pt-4 p-3">
    <h6 class="text-uppercase text-body text-xs font-weight-bolder mb-3">Newest</h6>
    <ul class="list-group">
    <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
    <div class="d-flex align-items-center">
    <button class="btn btn-icon-only btn-rounded btn-outline-danger mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-down"></i></button>
    <div class="d-flex flex-column">
    <h6 class="mb-1 text-dark text-sm">Netflix</h6>
    <span class="text-xs">27 March 2020, at 12:30 PM</span>
    </div>
    </div>
    <div class="d-flex align-items-center text-danger text-gradient text-sm font-weight-bold">
    - $ 2,500
    </div>
    </li>
    <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
    <div class="d-flex align-items-center">
    <button class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up"></i></button>
    <div class="d-flex flex-column">
    <h6 class="mb-1 text-dark text-sm">Apple</h6>
    <span class="text-xs">27 March 2020, at 04:30 AM</span>
    </div>
    </div>
    <div class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold">
    + $ 2,000
    </div>
    </li>
    <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
    <div class="d-flex align-items-center">
    <button class="btn btn-icon-only btn-rounded btn-outline-dark mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-exclamation"></i></button>
    <div class="d-flex flex-column">
    <h6 class="mb-1 text-dark text-sm">Webflow</h6>
    <span class="text-xs">26 March 2020, at 05:00 AM</span>
    </div>
    </div>
    <div class="d-flex align-items-center text-dark text-sm font-weight-bold">
    Pending
    </div>
    </li>
    </ul>
    </div>
    </div>
    </div>
            </div>
           </div>
        </div>
      </div>
      </div>

